@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  background: #0F172A;
  color: #E2E8F0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1E293B;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 3px;
}
